{
    "tabWidth": 4,
    "singleQuote": false,
    "trailingComma": "es5",
    "semi": true,
    "printWidth": 120,
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": ["*.yml", "*.yaml"],
                "options": {
                    "tabWidth": 2
                }
        }
    ]
}
