<div style="width: 50%; display: flex; align-items: center; gap: 8px;">
    <MudSwitch Value="IsRange"
               ValueChanged="IsRangeChanged"
               Label="Range"
               Color="Color.Primary" />

    @if (!IsRange)
    {
        <MudNumericField Value="Value"
                         ValueChanged="ValueChanged"
                         Label="@Label"
                         Variant="Variant.Outlined"
                         Immediate="true"
                         Min="Min" Step="Step"
                         T="int" />
    }
    else
    {
        <MudNumericField Value="MinValue"
                         ValueChanged="MinValueChanged"
                         Label="Min"
                         Variant="Variant.Outlined"
                         Immediate="true"
                         Min="Min" Step="1"
                         T="int" />
        <MudNumericField Value="MaxValue"
                         ValueChanged="MaxValueChanged"
                         Label="Max"
                         Variant="Variant.Outlined"
                         Immediate="true"
                         Min="Min" Step="1"
                         T="int" />
    }
</div>

@code {
    [Parameter, EditorRequired] public bool IsRange { get; set; }
    [Parameter] public EventCallback<bool> IsRangeChanged { get; set; }

    [Parameter, EditorRequired] public int Value { get; set; }
    [Parameter] public EventCallback<int> ValueChanged { get; set; }

    [Parameter, EditorRequired] public int MinValue { get; set; }
    [Parameter] public EventCallback<int> MinValueChanged { get; set; }

    [Parameter, EditorRequired] public int MaxValue { get; set; }
    [Parameter] public EventCallback<int> MaxValueChanged { get; set; }

    [Parameter] public string Label { get; set; } = "";
    [Parameter] public int Min { get; set; }
    [Parameter] public int Step { get; set; } = 1;
}
